#graphpage {
    width: 100%;
    margin: auto;
    height: calc(100vh - 200px); 
}
.tab-content {height: 100%}
.tab-pane {
    height: 100%;
}

#graphcategories {
    width: 100%;
    height: 100%;
}

