<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Secret Sport Society</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/home">
            <a class="nav-link" >News</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/sports">
            <a>Sports</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/categories">
            <a>Categories</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/graph/index">
            <a>Graph</a>
          </li>
          <li *ngIf="auth.isConnected()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin">
            <a>Admin</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/test">
            <a>Test</a>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li  *ngIf="!auth.isConnected();else logout_content">
              <a href="#" href="/admin/connexion" >Sign In</a>
            </li>
            <ng-template #logout_content>
                <li >
                  <a (click)="logout()" href="#">Sign Out</a>
                </li>
              </ng-template>
        </ul>
      
    </div>
  </div>
</nav>



        