<header class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Sport Encyclopedia</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/home">News</a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/sports">Sports</a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/charts/member">Graphe</a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="/admin/connexion" *ngIf="!auth.isConnected();else logout_content">Sign up</a>
      <ng-template #logout_content>
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin">Admin</a>
        <a class="nav-link" (click)="logout()" href="#">Logout</a>
      </ng-template>
      <!-- <a class="nav-link" (click)="logout()" href="#">Logout-test</a>
       -->
    </nav>
  </div>
</header>