<div class="row-fluid">
  <h2>Purge Section</h2>
  <p class="well well-lg">
    After clicking this button, there is no more data. Be careful !
  </p>
  
  
</div>

<div class="row-fluid" id="purgebtn" *ngIf="!onPurge">
  <button class="btn btn-danger" (click)="purge()">Purge</button>
</div>

<div class="row-fluid" id="purgeprogress" *ngIf="onPurge">
  <div class="progress">
    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    </div>
  </div>
</div>