    <app-header></app-header>

    <div class="container-fluid">
        <div class="row">
            <app-menu></app-menu>
            <main role="main container-fluid" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </div>
    </div>

    <app-error></app-error>
    <app-footer></app-footer>
