<h1>Categories List ({{categories?.length}})</h1>
<hr>
<div class="row">
  <form class="form-inline col">
    <input name="searchText" [(ngModel)]="searchText" type="text" class="form-control mr-auto col-6" id="inlineFormInputName">
    <button class="btn mr-auto offset-md-3 col-3" (click)="reset()">Reset</button>
  </form>
</div>
<hr>
<div class="row">
  <div class="col-md-4" *ngFor="let category of categories | filter: searchText">
    <div class="panel panel-primary">
      <div class="panel-heading">{{category.name}}</div>
      <div class="panel-body">
          <a [routerLink]="['/categories', category.id]" class="">See More</a>
      </div> 
    </div>
  </div>
</div>

