<form class="form-signin" (ngSubmit)="connexion()">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <div class="form-group">
    <label for="inputLogin" class="sr-only">login</label>
    <input type="text" id="inputLogin" class="form-control" name="login" [(ngModel)]="login" placeholder="Login" required autofocus>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="pwd" [(ngModel)]="pwd" placeholder="Password" required>
  </div>
  
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
</form>